BITTENSOR_WALLET_NAME=default
BITTENSOR_WALLET_HOTKEY_NAME=default

POSTGRES_DB=compute-subnet-db
POSTGRES_PORT=6432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
SQLALCHEMY_DATABASE_URI=postgresql://postgres:password@localhost:6432/compute-subnet-db
ASYNC_SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://postgres:password@localhost:6432/compute-subnet-db

BITTENSOR_NETUID=51
BITTENSOR_NETWORK=finney

INTERNAL_PORT=8010
EXTERNAL_PORT=8010

REDIS_HOST=localhost
REDIS_PORT=6379

COMPUTE_APP_URI=wss://celiumcompute.ai

HOST_WALLET_DIR=/home/ubuntu/.bittensor/wallets
