BITTENSOR_WALLET_NAME=default
BITTENSOR_WALLET_HOTKEY_NAME=default

POSTGRES_DB=compute-subnet-db
POSTGRES_PORT=7432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
SQLALCHEMY_DATABASE_URI=postgresql://postgres:password@localhost:7432/compute-subnet-db

BITTENSOR_NETUID=51
BITTENSOR_NETWORK=finney
COLLATERAL_CONTRACT_ADDRESS=0xfeDCA588e0a896e697663E3ef260df6e13037DAd

EXTERNAL_IP_ADDRESS=  # pro tip: use `curl ifconfig.me` to find this out
INTERNAL_PORT=8000
EXTERNAL_PORT=8000  # make sure this port is open to external connections

HOST_WALLET_DIR=/home/ubuntu/.bittensor/wallets
ETHEREUM_MINER_KEY=259e0eded00353f71eb6be89d8749ad12bf693cbd8aeb6b80cd3a343c0dc8faf
ETHEREUM_OWNER_KEY=