name: "CD: validtor (prod)"

on:
  push:
    branches:
      - 'prod_validtor'

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TAG: "latest" 
      DOCKERHUB_PAT: ${{ secrets.DOCKERHUB_PAT }} 
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Make scripts executable
        run: |
          chmod +x neurons/validators/docker_publish.sh
          chmod +x neurons/validators/docker_runner_publish.sh
          
      - name: Run docker_publish.sh
        run: |
          cd neurons/validators
          ./docker_publish.sh
          
      - name: Run docker_runner_publish.sh
        run: |
          cd neurons/validators
          ./docker_runner_publish.sh
